$primaryColor: #7dd3fc;
$secondaryColor: #f59e0b;
$mainBackground: #e4e4e7;
$buttonBackground: #5b21b6;
$textColor: #083344;
$textLightColor: #fde68a;
$headingColor: #1e293b;
$subHeadingColor: #451a03;
$whiteColor: #fafafa;
$borderColor: #9ca3af;
$headingFont: 'Karla', sans-serif;
$lgScreen: 1024px;
$mdScreen: 768px;
$smScreen: 640px;
